<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">

<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm"><img src="https://www.hypeness.com.br/1/2018/12/imagens-surreais.jpg" class="img-thumbnail" alt="..."></div>
				<div class="col-sm"><img src="https://www.hypeness.com.br/1/2018/12/imagens-surreais.jpg" class="img-thumbnail" alt="..."></div>
			</div>
		</div>
	</div>

</body>

</html>